
.listViewBackground{
	-fx-background-color: #81F1FE;
}

/*
.textAreaBackground{
	-fx-background-color: #81F1FE;
}*/

.textArea{
	-fx-background-color: #34CDE0;
	-fx-font-size: 14;
}

.guiBackground{
	-fx-background-color: #34CDE0;
}

.labelLogInfo{
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-font-family: "Arial";
	-fx-font-size: 14;
}

.labelLogInfoError{
    -fx-font-size: 14;
	-fx-text-fill: #B02D2D;
}

.labelLogInfoSuccess{
     -fx-font-size: 14;
	-fx-text-fill: green;
}

.button{
    -fx-background-color:
        linear-gradient(#3FA8B5 0%, #3095A2 5%, #1F7E8A 50%, #18727E 60%, #25919E 100%);
    -fx-background-radius: 5,5,4;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: white;
}
.button:focused{
    -fx-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}
.button:hover{
    -fx-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.textflow_send{
       -fx-font-size: 14;
      -fx-padding: 5,5,5,5;/*top,right,bottom,left*//*<-nejak nefunguje*/
/*
       -fx-padding: 5px;
       -fx-border-insets: 5px;
       -fx-background-insets: 5px;*/
       -fx-font-color: #00FF00;
       -fx-background-color: #43D8DF;
       -fx-background-radius: 20px;
}

.hbox_send{
       /* -fx-padding: 2,0,2,50;*//*top,right,bottom,left*/
        -fx-padding: 2.0 4.0 0.0 50.0;/*top,right,bottom,left*/
}